---
import ReactIcon from '../icons/React.astro';
import TailwindIcon from '../icons/Tailwind.astro';
import AstroIcon from '../icons/AstroBuild.astro';
import JavascriptIcon from '../icons/Javascript.astro';
import GitIcon from '../icons/Git.astro';
import GitHubIcon from '../icons/GitHub.astro';
import TypescriptIcon from '../icons/Typescript.astro';
import RocketIcon from '../icons/Rocket.astro';

const TAGS = {
  REACT: {
    name: 'React',
    icon: ReactIcon,
  },
  TAILWIND: {
    name: 'Tailwind Css',
    icon: TailwindIcon,
  },
  ASTRO: {
    name: 'Astro',
    icon: AstroIcon,
  },
  JAVASCRIPT: {
    name: 'JavaScript',
    icon: JavascriptIcon,
  },
  TYPESCRIPT: {
    name: 'TypeScript',
    icon: TypescriptIcon,
  },
  GIT: {
    name: 'Git',
    icon: GitIcon,
  },
  GITHUB: {
    name: 'GitHub',
    icon: GitHubIcon,
  },
};

const LINKS = [
  {
    label: 'Codigo Fuente',
    url: 'https://github.com/OrlandoDev17/e-commerce-web',
    icon: GitHubIcon,
  },
  {
    label: 'Ver Proyecto',
    url: 'https://e-commerce-web-eight-gules.vercel.app/',
    icon: RocketIcon,
  },
];

const PROJECTS = [
  {
    title: 'SneakerStore | La Mejor tienda online de venta de de Sneakers',
    description:
      'SneakerStore es una tienda en línea dedicada exclusivamente a la venta de calzado deportivo, urbano y de moda. Su diseño moderno y minimalista está pensado para ofrecer una experiencia de compra intuitiva y atractiva, especialmente dirigida a los amantes de las zapatillas (sneakers).',
    links: LINKS,
    image: './projects/sneakerstore.webp',
    tags: [
      TAGS.ASTRO,
      TAGS.REACT,
      TAGS.TAILWIND,
      TAGS.JAVASCRIPT,
      TAGS.TYPESCRIPT,
      TAGS.GIT,
      TAGS.GITHUB,
    ],
  },
];
---

{
  PROJECTS.map(({ title, description, links, image, tags }) => (
    <article class="mt-10 md:mt-36 flex flex-col md:flex-row justify-center gap-6 p-2">
      <picture>
        <img
          class="w-170 rounded-3xl shadow-2xl"
          src={image}
          alt={`imagen del proyecto ${title}`}
        />
      </picture>
      <aside class="flex flex-col gap-4">
        <h2 class="text-xl md:text-3xl text-primary text-pretty font-medium font-montserrat max-w-128">
          {title}
        </h2>
        <ul class="flex gap-2 flex-wrap max-w-128">
          {tags.map(({ name, icon: Icon }) => (
            <li class="flex items-center gap-2 bg-primary text-white rounded-full px-3 py-2">
              <Icon class="size-4 md:size-6" />
              <span class="text-md md:text-lg font-medium">{name}</span>
            </li>
          ))}
        </ul>
        <h4 class="font-montserrat text-primary/90 font-semibold text-sm md:text-lg max-w-128 text-wrap">
          {description}
        </h4>
        {
          <div class="flex justify-center gap-2 md:gap-8">
            {links.map(({ label, url, icon: Icon }) => (
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                class="flex items-center gap-2 text-primary text-md md:text-lg font-medium border-2 p-2 rounded-xl shadow-xl hover:border-0 hover:bg-primary hover:text-white hover:scale-120 transition"
              >
                <Icon class="size-6 md:size-8" />
                <span>{label}</span>
              </a>
            ))}
          </div>
        }
      </aside>
    </article>
  ))
}
