---
import ReactIcon from '../icons/React.astro';
import TailwindIcon from '../icons/Tailwind.astro';
import AstroIcon from '../icons/AstroBuild.astro';
import JavascriptIcon from '../icons/Javascript.astro';
import GitIcon from '../icons/Git.astro';
import GitHubIcon from '../icons/GitHub.astro';
import RocketIcon from '../icons/Rocket.astro';

const TAGS = {
  REACT: {
    name: 'React',
    icon: ReactIcon,
  },
  TAILWIND: {
    name: 'Tailwind Css',
    icon: TailwindIcon,
  },
  ASTRO: {
    name: 'Astro',
    icon: AstroIcon,
  },
  JAVASCRIPT: {
    name: 'JavaScript',
    icon: JavascriptIcon,
  },
  GIT: {
    name: 'Git',
    icon: GitIcon,
  },
};

const PROJECTS = [
  {
    title: 'SneakerStore | La Mejor tienda online de venta de de Sneakers',
    description: 'Pagina Web de E Commerce | Venta de Sneakers',
    link: 'https://e-commerce-web-eight-gules.vercel.app/',
    github: 'https://github.com/OrlandoDev17/e-commerce-web',
    image: './projects/sneakerstore.webp',
    tags: [TAGS.ASTRO, TAGS.REACT, TAGS.TAILWIND, TAGS.JAVASCRIPT, TAGS.GIT],
  },
];
---

{
  PROJECTS.map(({ title, description, link, github, image, tags }) => (
    <article class="flex flex-col mt-10 items-center">
      <h3 class="text-2xl text-violet-700 mb-2 font-bold font-montserrat">
        {title}
      </h3>
      <p class="text-primary text-xl font-montserrat mb-4">{description}</p>

      <ul class="flex flex-wrap justify-center gap-2 mb-4 w-200">
        {tags.map((tag) => (
          <li class="flex bg-primary text-white justify-center items-center px-3 py-2 rounded-4xl gap-x-2 text-xl">
            <tag.icon class="size-8" />
            {tag.name}
          </li>
        ))}
      </ul>
      <a href={link} target="_blank" rel="noopener noreferrer">
        <img
          class="w-220 rounded-xl shadow-2xl"
          src={image}
          alt={`Captura de pantalla del proyecto: ${title}`}
        />
      </a>
      <aside class="mt-6 flex gap-x-8">
        <a href={github} target="_blank" rel="noopener noreferrer">
          <button class="cursor-pointer text-white font-semibold tracking-wide flex justify-center items-center gap-x-2 bg-primary p-3 rounded-2xl text-xl hover:bg-violet-700 hover:scale-110 transition">
            <GitHubIcon class="size-10" />
            Codigo Fuente
          </button>
        </a>
        <a href={link} target="_blank" rel="noopener noreferrer">
          <button class="cursor-pointer text-white font-semibold tracking-wide flex justify-center items-center gap-x-2 bg-primary p-3 rounded-2xl text-xl hover:bg-violet-700 hover:scale-110 transition">
            <RocketIcon class="size-10" />
            Ver Proyecto
          </button>
        </a>
      </aside>
    </article>
  ))
}
