---
import { PROJECTS } from '../consts/projects';
---

{
  PROJECTS.map(({ title, description, links, image, tags }) => (
    <article class="mt-10 md:mt-24 flex flex-col md:flex-row justify-center gap-6 p-2">
      <picture>
        <img
          class="w-170 rounded-3xl shadow-2xl dark:shadow-white dark:shadow-xl"
          src={image}
          alt={`imagen del proyecto ${title}`}
        />
      </picture>
      <aside class="flex flex-col gap-4">
        <h2 class="text-xl md:text-3xl text-primary dark:text-white text-pretty font-medium font-montserrat max-w-128">
          {title}
        </h2>
        <ul class="flex gap-2 flex-wrap max-w-128">
          {tags.map(({ name, icon: Icon }) => (
            <li class="flex items-center gap-2 bg-primary dark:bg-white/30 text-white  rounded-full px-3 py-2">
              <Icon class="size-4 md:size-6" />
              <span class="text-md md:text-lg font-medium">{name}</span>
            </li>
          ))}
        </ul>
        <h4 class="font-montserrat text-primary/90 dark:text-white/60 font-semibold text-sm md:text-lg max-w-128 text-wrap">
          {description}
        </h4>
        {
          <div class="flex justify-center gap-2 md:gap-8">
            {links.map(({ label, url, icon: Icon }) => (
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                class="flex items-center gap-2 text-primary dark:text-white text-md md:text-lg font-medium dark:border-white border-2 p-2 rounded-xl shadow-xl dark:shadow-white dark:shadow-md hover:border-0 hover:bg-primary dark:hover:bg-white
              hover:text-white dark:hover:text-primary hover:scale-120 transition"
              >
                <Icon class="size-6 md:size-8" />
                <span>{label}</span>
              </a>
            ))}
          </div>
        }
      </aside>
    </article>
  ))
}
